.tabs-button {
    display: block;
    width: 100%;
    outline: unset;
    border: none;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 10px 10px 0 0;
    background-color: rgb(122, 120, 116);

}
.tabs-button.active{
   background-color: rgb(240, 240, 240);
}
.tabs-button:last-child{
    margin-right: 0;
}
.content {
    height: 0;
    -webkit-transition: height 1s ease;
    transition: height 0.5s ease;
    background-color:rgb(240, 240, 240);
    overflow: hidden;
 
}

.content.active {
    min-height: 200px; 
}

.inner {
    margin: 16px;
}

.tabs-section {
    display: flex;
}

.margin-left {
    margin-left: 13rem;
}

