<div class="container margin-left ">
    <div class="all-sections">
        <section class="main-section">
            <div class="tabs-section">
                <button class="tabs-button active">one</button>
                <button class="tabs-button">two</button>
                <button class="tabs-button">three</button>
            </div>
            <div class="content active">
                <div class="inner"> content1</div>
            </div>
            <div class="content">
                <div class="inner"> content2</div>
            </div>
            <div class="content">
                <div class="inner"> content3</div>
            </div>
            <h3 class="block-heading">html</h3>
            <div class="code-block html-block"></div>
        </section>
        <section class="right-section">
          
        </section>
    </div>
</div>