<header class="navbar-header">
        <nav class="navbar">
                <ul class="navbar-list">
                        <li class="navbar-list-item"><a class="navbar-list-item-link" routerLink="/"
                                        rel="noopener noreferrer">Accordion</a></li>
                        <li class="navbar-list-item"><a class="navbar-list-item-link" routerLink="carousal"
                                        rel="noopener noreferrer">carousal</a></li>
                        <li class="navbar-list-item"><a class="navbar-list-item-link" routerLink="dropdown"
                                        rel="noopener noreferrer">dropdown</a></li>
                        <li class="navbar-list-item"><a class="navbar-list-item-link" routerLink="imagegallery"
                                        rel="noopener noreferrer">imagegallary</a></li>
                        <li class="navbar-list-item"><a class="navbar-list-item-link" routerLink="modal"
                                        rel="noopener noreferrer">modal</a></li>
                        <li class="navbar-list-item"><a class="navbar-list-item-link" routerLink="tabs"
                                        rel="noopener noreferrer">tabs</a></li>
                </ul>
        </nav>
</header>