<header class="navbar-header">
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand" routerLink="/" rel="noopener noreferrer">logo</a>
            <ul class="navbar-list">
                <li class="navbar-list-item"><a class="navbar-list-item-link" routerLink="angular"
                        rel="noopener noreferrer">angular</a></li>
                <!-- <li class="navbar-list-item"><a class="navbar-list-item-link" routerLink="css"
                        rel="noopener noreferrer">css</a></li> -->
            </ul>
        </nav>
    </div>
</header>