<div class="container margin-left">
    <div class="all-sections">
        <section class="main-section gallery">
            <h1>angular carousal</h1>
            <div class="slider-container">
                <div class="slider">
                    <div class="img active">
                        <img src="./assets/pic1.jpg" alt="pic1">
                    </div>
                    <div class="img">
                        <img src="./assets/pic2.jpg" alt="pic2">
                    </div>
                    <div class="img">
                        <img src="./assets/pic3.jpg" alt="pic3">
                    </div>
                    <div class="buttons-container">
                        <svg id="right" width="13" height="18" xmlns="http://www.w3.org/2000/svg">
                            <path d="m2 1 8 8-8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="none" />
                        </svg>
                        <svg id="left" width="12" height="18" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 1 3 9l8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="evenodd" />
                        </svg>
                    </div>
                </div>
            </div>
            <h3 class="block-heading">html</h3>
            <div class="code-block html-block">
                <!-- <button (click)="copyText()">Copy</button> -->
                <div>
                    &lt;div class="slider-container">
                </div>
                <div>
                    &lt;div class="slider">
                </div>
                <div>
                    &lt;div class="img active">
                </div>
                <div>
                    &lt;img src="./assets/pic1.jpg" alt="pic1">
                </div>
                <div>
                    &lt;div>
                </div>
                <div>
                    &lt;div class="img">
                </div>
                <div>
                    &lt;img src="./assets/pic2.jpg" alt="pic2">
                </div>
                <div>
                    &lt;div>
                </div>
                <div>
                    &lt;div class="img">
                </div>
                <div>
                    &lt;img src="./assets/pic3.jpg" alt="pic3">
                </div>
                <div>
                    &lt;div>
                </div>
                <div>
                    &lt; div class="buttons-container">
                </div>
                <div>
                    &lt;svg id="right" width="13" height="18" xmlns="http://www.w3.org/2000/svg">
                    &lt;path d="m2 1 8 8-8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="none" />
                    &lt;/svg>
                </div>
                <div>
                    &lt;svg id="left" width="12" height="18" xmlns="http://www.w3.org/2000/svg">
                    &lt;path d="M11 1 3 9l8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="evenodd" />
                    &lt;/svg>
                </div>
                <div>
                    &lt;div>
                </div>
                <div>
                    &lt;div>
                </div>
                <div>
                    &lt;div>
                </div>
            </div>
            <h3 class="block-heading">css</h3>

            <div class="code-block">
                <div class="css"> {{'.slider-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    }'}}
                </div>
                <div class="css"> {{'
                    .slider {
                    position: relative;
                    flex-basis: 500px;
                    aspect-ratio: 16/15;
                    }'}}
                </div>
                <div class="css"> {{'
                    .slider-container .img {
                    display: none;
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    transition: width 0.5s ease-in;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                    }'}}
                </div>
                <div class="css"> {{'
                    .slider-container .img.active {
                    opacity: 1;
                    display: block;
                    width: 100%;
                    height: 100%;
                    }'}}
                </div>
                <div class="css"> {{'.img img {
                    max-width: 100%;
                    object-fit: cover;
                    }'}}
                </div>
                <div class="css"> {{'
                    .buttons-container {
                    position: absolute;
                    bottom: 50%;
                    width: 100%;
                    top: 50%;
                    }'}}
                </div>
                <div class="css"> {{'.buttons-container #right {
                    position: absolute;
                    right: 0;
                    }'}}
                </div>
                <div class="css"> {{' .buttons-container #right , #left {
                    cursor: pointer;
                    font-size: 2rem;
                    }'}}
                </div>
            </div>
            <h3 class="block-heading">.ts</h3>
            <div class="code-block">
                <div class="ts-block"> {{'import { Component, OnInit, Renderer2 } from &lsquo;@angular/core&rsquo;;'}}
                </div>
                <div class="ts-block"> {{'@Component({'}}</div>
                <div class="ts-block">{{ ' selector: &lsquo; app-carousal &rsquo;,'}}</div>
                <div class="ts-block"> {{'templateUrl: &lsquo; ./carousal.component.html&rsquo;,'}}</div>
                <div class="ts-block"> {{'styleUrls: [&lsquo;./carousal.component.scss&rsquo;] })' }}</div>
                <div class="ts-block">{{'export class CarousalComponent implements OnInit {'}}</div>
                <div class="ts-block">{{'slides: any; left: any; right: any; currentSlideIndex: any; interval: any;'}}
                </div>
                <div class="ts-block">{{' constructor(public renderer: Renderer2) { }'}}</div>
                <div class="ts-block">{{' ngOnInit(): void {'}}</div>
                <div class="ts-block">{{' this.slides = document.querySelectorAll(&lsquo;.img&rsquo;)'}}</div>
                <div class="ts-block">{{'this.left = document.querySelectorAll(&lsquo;.left&rsquo;);'}}</div>
                <div class="ts-block"> {{' this.right = document.querySelectorAll(&lsquo;.right&rsquo;);'}}</div>
                <div class="ts-block">{{' this.currentSlideIndex = 0;'}}</div>
                <div class="ts-block">{{'this.interval = setInterval(this.autoSlide.bind(this), 2000);'}}</div>
                <div class="ts-block"> {{' this.renderer.listen(this.left, &lsquo;click &rsquo, () => {'}}</div>
                <div class="ts-block"> {{' this.currentSlideIndex--;'}}</div>
                <div class="ts-block"> {{'this.showSlide(); '}}</div>
                <div class="ts-block"> {{ ' this.resetInterval();'}}</div>
                <div class="ts-block"> {{ ' });'}}</div>
                <div class="ts-block"> {{' this.renderer.listen(this.right, &lsquo;click &rsquo;, () => {'}}</div>
                <div class="ts-block"> {{' this.currentSlideIndex++;'}}</div>
                <div class="ts-block"> {{'this.showSlide(); '}}</div>
                <div class="ts-block"> {{ ' this.resetInterval();'}}</div>
                <div class="ts-block"> {{ ' });'}}</div>
                <div class="ts-block"> {{ ' };'}}</div>
                <div class="ts-block"> {{ ' showSlide() {'}}</div>
                <div class="ts-block"> {{ ' if (this.currentSlideIndex > this.slides.length - 1) {'}}</div>
                <div class="ts-block"> {{ ' this.currentSlideIndex = 0;'}}</div>
                <div class="ts-block"> {{ ' } else if (this.currentSlideIndex < 0) {'}}</div>
                        <div class="ts-block"> {{ ' this.currentSlideIndex = this.slides.length - 1; }'}}</div>
                        <div class="ts-block"> {{ ' this.slides.forEach((slide: any)
                            =>slide.classList.remove(&lsquo;active&rsquo;));'}}</div>
                        <div class="ts-block"> {{ '
                            this.slides[this.currentSlideIndex].classList.add(&lsquo;active&rsquo;)'}}<br>}</div>
                        <div class="ts-block"> {{ ' autoSlide() {'}}</div>
                        <div class="ts-block"> {{ ' this.currentSlideIndex++; '}}</div>
                        <div class="ts-block"> {{ ' this.showSlide() '}}<br> }</div>
                        <div class="ts-block"> {{ 'resetInterval() { '}}</div>
                        <div class="ts-block"> {{ ' clearInterval(this.interval) '}}</div>
                        <div class="ts-block"> {{ ' this.interval = setInterval(this.autoSlide.bind(this), 2000);
                            '}}<br> } <br>}</div>
                </div>

        </section>
        <section class="right-section">

        </section>
    </div>
</div>