<div class="container margin-left">
    <div class="all-sections">
        <section class="main-section gallery">
            <div class="slider-container">
                <div class="slider">
                    <div class="img active">
                        <img src="./assets/pic1.jpg" alt="pic1">
                    </div>
                    <div class="img">
                        <img src="./assets/pic2.jpg" alt="pic2">
                    </div>
                    <div class="img">
                        <img src="./assets/pic3.jpg" alt="pic3">
                    </div>
                    <div class="buttons-container">
                        <svg id="right" width="13" height="18" xmlns="http://www.w3.org/2000/svg">
                            <path d="m2 1 8 8-8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="none" />
                        </svg>
                        <svg id="left" width="12" height="18" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 1 3 9l8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="evenodd" />
                        </svg>
                    </div>
                </div>
            </div>
            <h3 class="block-heading">html</h3>
            <div class="code-block html-block">
                <!-- <button (click)="copyText()">Copy</button> -->
                <div>
                    &lt;div class="slider-container">
                </div>
                <div>
                    &lt;div class="slider">
                </div>
                <div>
                    &lt;div class="img active">
                </div>
                <div>
                    &lt;img src="./assets/pic1.jpg" alt="pic1">
                </div>
                <div>
                    &lt;div>
                </div>
                <div>
                    &lt;div class="img">
                </div>
                <div>
                    &lt;img src="./assets/pic2.jpg" alt="pic2">
                </div>
                <div>
                    &lt;div>
                </div>
                <div>
                    &lt;div class="img">
                </div>
                <div>
                    &lt;img src="./assets/pic3.jpg" alt="pic3">
                </div>
                <div>
                    &lt;div>
                </div>
                <div>
                    &lt; div class="buttons-container">
                </div>
                <div>
                    &lt;svg id="right" width="13" height="18" xmlns="http://www.w3.org/2000/svg">
                    &lt;path d="m2 1 8 8-8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="none" />
                    &lt;/svg>
                </div>
                <div>
                    &lt;svg id="left" width="12" height="18" xmlns="http://www.w3.org/2000/svg">
                    &lt;path d="M11 1 3 9l8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="evenodd" />
                    &lt;/svg>
                </div>
                <div>
                    &lt;div>
                </div>
                <div>
                    &lt;div>
                </div>
                <div>
                    &lt;div>
                </div>
            </div>
        </section>
        <section class="right-section">

        </section>
    </div>
</div>